[2017-06-01 18:26] davekellam opened #1 "Convert readme.md to docs folder"
Document post types, taxonomies, and custom fields required. Should also consider libraries and plugins used, as well as necessary API integrations.

As the project progresses, any time a field is added to the backend, it should be documented (why it's need, how it's being used).

[2017-06-01 18:27] davekellam opened #2 "Add composer"
Add support for composer and the following packages (more to come):

* [ ] Extended CPTs
* [ ] Extended Taxos
* [ ] CMB2

[2017-06-06 20:07] davekellam opened #3 "Ingest lib/study guides from Springshare"
Use v1.1 of the LibGuides API to ingest all of the guides into a guides post type.

[2017-06-06 20:08] davekellam commented on #2
Think composer is likely overkill (and not available server side on WPE) at the moment. We can reopen later if we want to create a composer based workflow.

All included libraries have been updated to their most recent versions.

[2017-06-06 20:08] #2 closed

[2017-06-12 19:17] davekellam commented on #3
Forgot to mention issue in 33a9118 commit, but have a basic API integration for obtaining oauth token and fetching all libguides content.

Connection constants need to be defined in `wp-config.php` at the moment. Will need to to create an options page for login details.

Needs code for: grabbing specific specific lib guides by id, more error trapping, ingesting libguides into a post type.

[2017-06-12 20:32] davekellam opened #4 "Create carousel/module helper"

[2017-06-12 20:37] davekellam commented on #4
@kpettinga do you have any thoughts on separation of content/display here? Happy to use the partial/components here. What makes more sense as a helper... returning a data array or structured html?

[2017-06-12 20:44] davekellam commented on #4
I guess the current partials aren't really state aware. Trying to think about the maintenance approach here... maintain styling and structure of components at component level with strict data structure or further up the WordPress chain with the loop and built-in WordPress stuff.

[2017-06-14 07:04] kpettinga commented on #4
hey @davekellam i would vote to return the data array as opposed to html. Separation of content and design.

If it makes sense in the future we might have a function that returns data and then a function that builds html... but the two shouldn't be mixed, IMO.

[2017-06-14 15:27] davekellam commented on #4
Yeah, I agree... it floats away from some traditional WordPress stuff, but it separates the front/back-end more. In theory just having the data returned would allow you to switch between front-end solutions more easily.

[2017-06-21 17:25] davekellam opened #5 "Create a demo/prototype ajax search box"
Look ahead search should be able to search various local post types (librarians, guides, databases, etc), as well as provide the option to direct the search to WorldCat for books or articles.

[2017-06-21 17:50] davekellam opened #6 "Build out potential post types"
* [ ] Librarians
* [ ] Guides
* [ ] Databases
* [ ] Questions (FAQ)
* [ ] Journals?
* [ ] Modules/components?

[2017-07-10 15:47] davekellam commented on #3
Seems that I actually worked out how to pull down the list of databases using the more complex v1.2 API. LibGuides can be pulled down using v1.1, which doesn't require token based authentication.

[2017-07-10 15:49] davekellam opened #7 "Ingest databases from Springshare"
I accidentally created the ability to grab the databases from Springshare. Now we can process them and dump them into a databases post type.

[2017-07-10 15:53] davekellam opened #8 "Ingest Librarians from Springshare"
This goes hand-in-hand with ingesting the Study Guides (#3). Could be a chicken-egg situation, need to sort out how they're associated with each other. Common IDs from Springshare is obvious enough, but could make for more complex meta queries, perhaps need a taxonomy as well.

Uses v1.1 of the LibGuides API.

[2017-07-26 18:50] davekellam opened #9 "Rooms: add spaces and front-end functionality"

[2017-08-02 16:23] #6 closed

[2017-08-02 16:26] davekellam opened #10 "Staff: refine import and treatment"
* [x] Change menu icon
* [x] Tweak labels (plural/singular)
* [x] Prevent Add New
* [x] Check for API keys, throw error if none found
* [x] Update existing entries
* [x] Import <del>more data (as much as possible)</del> raw data
* [x] <del>Add required custom fields to display data</del>
* [x] Add metabox to display ingested API data (prevents edits)

[2017-08-02 16:27] davekellam commented on #8
Initial task completed, moving refinements to new issue (#10)

[2017-08-02 16:27] #8 closed

[2017-08-02 16:33] davekellam opened #11 "Wayfinding"
Explore what's possible with Fourwinds

[2017-08-02 20:23] davekellam opened #12 "Guides: refine import"
* [x] Prevent Add New
* [x] Check for API keys, throw error if none found
* [x] Update existing entries
* [x] Import <del>more data (as much as possible)</del> raw data
* [x] <del>Add required custom fields to display data</del>
* [x] Add metabox to display ingested API data (prevents edits)

[2017-08-02 20:23] davekellam commented on #3
Import functionality is working, moving refinement to it's own issue and milestone (#12)

[2017-08-02 20:23] #3 closed

[2017-08-02 20:25] davekellam opened #13 "Search: refine inline results"
* [x] Account for all post types
* [x] Add icons (appropriate classes)
* [x] Add ability to direct search towards WorldCat/OCLC
* [x] Rename `home.js` to `search.js` to reflect reusability

[2017-08-02 20:26] davekellam commented on #5
Prototype is working, moving refinements to #13

[2017-08-02 20:26] #5 closed

[2017-08-02 20:29] davekellam commented on #9
Most of the backend functions are in place for importing rooms. We now need to add the post and work on the front-end reservation flow.

[2017-08-02 20:30] davekellam opened #14 "Databases: add post type, import functionality and refine"
- [x] add post type and import functionality
- [x] update rather than ignore previous imported
- [x] add raw data

[2017-08-03 16:00] davekellam opened #15 "Staff: contact/book librarians"
Bookings will happen via an embedded LibCal widget on a persistent help page. Probably worth implementing the widget as a shortcode.

Generate code for the widget: http://claremont.libcal.com/sched_widget.php

Contact info from LibGuides (email/phone if available from API) can be included directly on staff profile page. Chat widget is on the backburner for now.

[2017-08-03 16:03] davekellam opened #16 "General: create standard WordPress templates for various pages"
We may want to spin this out into a series of separate issues, but recording here for now:

* single
* page
* 404
* search
* archive
* etc

[2017-08-03 20:11] davekellam commented on #7
Moving to #14

[2017-08-03 20:11] #7 closed

[2017-08-14 21:28] #13 closed

[2017-08-15 16:12] #12 closed

[2017-08-15 16:12] #10 closed

[2017-08-15 16:50] davekellam opened #17 "Imports: Add date/time"
Should be able to add date/time created/updated to the various imported post types: databases, guides, staff. May not be necessary.

[2017-08-15 19:07] #14 closed

[2017-08-16 14:26] davekellam commented on #11
Seems like fourwinds is a non-starter for the purposes of the website. We could make use of the AI file provided to create a one-page helper with data points for various locations within the building.

[2017-08-16 14:56] Jessdwilson commented on #11
Thanks, Dave. Let me know if it would be helpful for a designer to work on this

[2017-08-16 15:04] davekellam commented on #15
The widget code generates a button, that when clicked loads an iframe in a popup. Should explore whether or not it's possible to embed that popup directly.

[2017-08-16 21:30] davekellam opened #18 "Search: integrate component"
* [x] Remove slug content and hide results div initially
* [x] Append search count and link rather than modify existing
* [x] Direct main search to WorldCat if return or search button pressed
* [x] wire up dropdown modifiers (keywords, authors, etc), should change url parameters when search is directed towards WorldCat (both inline and when return is hit)

[2017-08-16 21:31] davekellam opened #19 "Search: behaviour on return/button press"
If a user hits return or the search button, the search should be directed to WorldCat

[2017-08-25 15:24] davekellam commented on #15
Created shortcode and function to embed staff booking popup in pages and templates. Staff member email address is being imported into a custom field and can be displayed on a librarian page. The raw data also includes some additional info for some librarians, like phone number, but not always. We can include that at some point if requested (can create a new issue down the road).

[2017-08-25 15:24] #15 closed

[2017-08-25 21:37] davekellam opened #20 "Header/Footer: Add menus/dynamic content"
Replace placeholder content with functioning WordPress menus. Could also keep placeholder content as a fallback if no menus are currently active (with an indicator that content should be added).

[2017-08-28 20:06] davekellam commented on #19
Added to #18 and implemented

[2017-08-28 20:06] #19 closed

[2017-09-18 22:58] Jessdwilson opened #21 "Accordians"
added as an option to WP site

[2017-09-18 23:02] Jessdwilson commented on #18
From our call with client, they requested a 3-part search box with the following priorities

1. research guide

2. librarian associated with research guide

3. offer site info outside of research like FAQs

https://docs.google.com/document/d/14larEOwOxJowzgu02X3t96PTjprdSvAZy6RuzTsx6DM/edit?ts=59b032ba

[2017-09-18 23:05] Jessdwilson commented on #11
More info from Gabrield posted to [Basecamp](https://3.basecamp.com/3125969/buckets/2217710/messages/617596925)

[2017-09-18 23:06] Jessdwilson opened #22 "Long scroll with side scrolling"

[2017-09-18 23:06] Jessdwilson opened #23 "Sticky menu"

[2017-09-18 23:06] Jessdwilson opened #24 "Featured Item boxes"

[2017-09-18 23:07] Jessdwilson opened #25 "Promo carousel"

[2017-09-18 23:07] Jessdwilson opened #26 "Internal/External Blogs"

[2017-09-18 23:09] Jessdwilson opened #27 "Personal contact image box/circle"

[2017-09-18 23:10] Jessdwilson opened #28 "Side Navigation"

[2017-09-18 23:10] Jessdwilson opened #29 "Lists of guides and people by subject"

[2017-09-18 23:11] Jessdwilson opened #30 "Wrapper customizations"

[2017-09-18 23:12] Jessdwilson opened #31 "Tooltips"

[2017-09-18 23:13] Jessdwilson opened #32 "Hours widget integration"

[2017-09-18 23:13] Jessdwilson opened #33 "Alert notification scheme"

[2017-09-18 23:13] Jessdwilson opened #34 "Related pages function"
related pages displayed at bottom of screen?

[2017-09-18 23:15] Jessdwilson opened #35 "My account customization"
strip of color per campus color

[2017-09-18 23:16] Jessdwilson commented on #16
Template for landing pages for departments (special collections) and collections

[2017-09-22 10:49] kpettinga opened #36 "Modals"

[2017-09-22 10:59] kpettinga commented on #35
@Jessdwilson was a decision reached here about how they would accomplish this? I seem to remember Dave B. saying they would get back to us about how best to implement.
cc: @davekellam

[2017-09-22 11:05] kpettinga commented on #30
@Jessdwilson @davekellam what is this?

[2017-09-22 11:06] kpettinga commented on #29
@davekellam I'm assuming this is a backend task having to do with ingesting Libguides? Let me know if there's some front-end work to be done.

[2017-09-22 11:17] kpettinga commented on #27
@Jessdwilson @davekellam can either of you provide clarity on what this is or where its found in our designs?

[2017-09-22 11:18] kpettinga commented on #26
Need more details from CCL

[2017-09-22 11:19] kpettinga commented on #24
@Jessdwilson @davekellam can either of you provide clarity on what this is or where its found in our designs?

[2017-09-22 11:20] kpettinga commented on #22
@Jessdwilson @davekellam can either of you provide clarity on what this is or where its found in our design?

[2017-09-22 15:27] Jessdwilson commented on #27
do you think that could be these image circles?

[CCL Website Creative Refinements 20170627 TE pg 19.pdf](https://github.com/ObjectiveSubject/ccl/files/1325003/CCL.Website.Creative.Refinements.20170627.TE.pg.19.pdf)

[2017-09-22 15:35] Jessdwilson commented on #24
could this be the featured item promo boxes? http://ccl.obsub.xyz/components/

[2017-09-27 14:07] kpettinga commented on #24
@Jessdwilson what part of that page are you referring to? ☝️

[2017-09-27 14:09] kpettinga commented on #26
**From Dave B.**

[2017-09-27 14:09] kpettinga commented on #30
**From Dave B.**

[2017-09-27 14:10] kpettinga commented on #35
**From Dave B.**

[2017-09-27 15:02] davekellam commented on #29
Both guides and staff are ingested from LibGuides and have subjects available as something that could be imported. I could create a shared taxonomy and make sure terms get created/applied for each imported item. I don't know if any consideration has been given to common names across the two, but can always just try and see.

The other option is to create a taxonomy and for them to manage subject a

[2017-09-27 15:09] davekellam commented on #35
JavaScript/jQuery can read info from a cookie. The address `webauth.claremont.edu` stores a `cas_college` cookie, with the content being the school's subdomain, i.e. `cuc.claremont.edu`. We should be able to read that cookie and adjust the colour accordingly. We can't do a whole lot beyond that.

[2017-09-27 15:58] kpettinga opened #37 "Custom Content Blocks"
We need to make some repeatable content blocks with different layout options (same kinda thing as CGU). Layouts I can think of right now are:

- Carousel
- Banner (full-width image)
- WYSIWYG (just a wysiwyg editor)
- ???

will post more if I think of them

[2017-09-27 16:05] davekellam commented on #34
Main question here: Is this automated or curated?

If it's automated, we probably need to use something like Jetpack's Related Posts or something similar, as most related posts plugins are [disallowed by WPE](https://wpengine.com/support/disallowed-plugins/) (they tend to be database intensive). We could also do something like display a few posts from a shared taxonomy term, but it's likely to be

[2017-09-27 17:39] Jessdwilson commented on #24
**from Gabriel:**

![image](https://user-images.githubusercontent.com/1746410/30952160-06390070-a427-11e7-96fb-bffc673c54d2.png)

[2017-09-27 20:25] Jessdwilson commented on #22
**from Dave B.**: we plan to employ the long scroll with side-scrolling sections (per the “collections” part of the visual design) for a couple very important areas – the most important being the collections scroll. I don’t know if that needs to be a separate template or just individual components to make up that page, but we need to see how that will look in the long scroll format, and add scoped

[2017-09-28 06:53] kpettinga commented on #34
@davekellam

**lets go the custom field route here**. Can you setup a custom field to select multiple pages?

[2017-09-28 07:19] kpettinga commented on #29
Hey @davekellam,

Yeah I think your first idea would be best. Setup a shared taxonomy and have terms get created from each imported item.

Also, in a Slack message from Tue. 9/19, @gabrielo-cuc mentioned using the [Words API](https://www.wordsapi.com/) to generate terms.
☝️ is that part of this issue?

[2017-09-28 19:55] Jessdwilson commented on #26
with regards to the blogs, Gabriel asked: I know there are a couple of blogs that does include the special collections blog and a staff blog. Let me create a finalized list for you during our meeting tomorrow.

What do you think though? It’s not clear to me when we need to use our multisite, or when we should rely on the main post type, as you indicated. Right now, I think the best course would be

[2017-09-29 15:14] kpettinga commented on #26
@Jessdwilson @gabrielo-cuc yes, multisite should be used for all external blogs. If there's an internal blog that your department maintains we can fold it into the theme were building for the main CCL install.

[2017-10-06 13:38] kpettinga commented on #37
@Jessdwilson these should be ready for Gabriel and the team to test out.

Will create some examples for them to reference on their staging site.

[2017-10-06 14:04] kpettinga commented on #37
See http://libraryweb.wpengine.com/collections/ for examples

[2017-10-06 15:00] Jessdwilson commented on #36
FYI, from Gabriel:

Here's a use case we were thinking of. There will be pages where we would have additional contextual information about doing academic research. For example, say we were describing a list of resources related to a topic without taking the user to another page. I imagine that the breadth of this content would be too deep for a tooltip, but the content would not be enough warrant

[2017-10-09 06:51] kpettinga commented on #24
Folding this issue into #25. They are essentially the same component. If there are more than 3 items to display, we'll enable the carousel. Otherwise, it will just be a promo without a carousel.

[2017-10-09 06:51] #24 closed

[2017-10-09 07:37] kpettinga commented on #25
If 3 or less items are uploaded, the carousel won't be activated. This will allow them to create "feature items" without a carousel.

[2017-10-09 12:37] kpettinga commented on #35
@davekellam how do we call on that web address to get the cookie?

[2017-10-10 14:03] davekellam commented on #35
There's a [js-cookie](https://github.com/js-cookie/js-cookie) plugin/api for javascript that we could use. It might be overkill, as we probably don't need to set any cookies, so the relevant read bits could be pulled out.

So, I believe we'd do something like `Cookies.get('cas_college');` to grab the cookie data, and then get the school's subdomain from the cookie content. Then use that info to ap

[2017-10-10 21:54] Jessdwilson commented on #32
not sure if this is the same, Gabriel requested:

There are a couple SpringShare widgets that we'd like to include in the content body area. Specifically, our appointment module widget, and the calendar widget. They probably won't work unless we enqueue the scripts in the backend. Do you think we can do that?

For the appointment widget: `//api3.libcal.com/js/myscheduler.min.js?002`
for the calend

[2017-10-11 01:51] davekellam commented on #34
@kpettinga the custom field to select related pages is in place, as is basic content and markup. Needs a little bit of finessing now.

[2017-10-11 07:44] kpettinga commented on #35
@davekellam, if we're not going to be providing a select box to change the school, we should probably just populate the `data-school` attribute (on the root `<html>` element) with PHP.

What do you think?

Also, I logged in with CAS to libraryweb.wpengine.com and ran `document.cookie` in the browser console. This will give you a list of cookies for a site. Here's the only cookie I could find that

[2017-10-11 09:20] kpettinga commented on #22
This isn't really an "issue". More of a desired functionality which will get fulfilled by other issues. Namely #24, #25, #34, and #37

[2017-10-11 09:20] #22 closed

[2017-10-11 13:14] kpettinga commented on #16
I think we're good here as far as basic templates. If there's more specific ones, let's make a new issue for it.

[2017-10-11 17:41] davekellam commented on #35
Right, I forgot that cookies are limited to same-origin policy, so we can't use it at the moment. If the site is on the same domain (claremont.edu), I imagine we can read the CAS cookie. In the interim we could set a default cookie of our own to use and/or set it with the switcher. We could leave out the switcher and offer some sort of site-options page that sets the cookie too.

The problem I see

[2017-10-12 07:57] kpettinga commented on #32
Waiting on Gabriel to provide us with more information about how these widgets will be integrated.

[2017-10-12 15:10] kpettinga commented on #11
Got a JSON source written up from the word doc Gabriel provided. Using that to display information when a user enters a call number.

Will tackle the floor plan graphic part of it next.

[2017-10-12 15:52] davekellam commented on #32
I added the scheduler widget in sprint 2 (#15), as there was no way to deal with booking librarians via API. It can be included via the `[scheduler]` shortcode.

I poked around in the LibCal backend and found the code for the `hours_widget` mentioned. I've included that as `[calendar_widget]` shortcode. The `calendar_widget()` function in `/includes/integrations/libcal.php` includes the default ge

[2017-10-12 17:18] davekellam commented on #28
Imagine we want to include the related pages (#34) in this template? Content blocks likely won't work, as they're outside the main content container.

[2017-10-12 18:45] davekellam commented on #29
Guides and staff both pull in the subjects that have been applied in LibGuides. Those subjects are pulled into a custom taxonomy or applied if they already exist.

[2017-10-12 18:50] davekellam commented on #4
Closing in favour of #37

[2017-10-12 18:50] #4 closed

[2017-10-12 21:05] Jessdwilson commented on #21
from Gabriel: We noticed that sometimes the accordion shortcode adds a `<br>` tag in between accordion sections... Is this something we are doing wrong? They don't seem to be appearing on other pages with accordion shortcodes.

[2017-10-12 21:17] Jessdwilson opened #38 "Tables"
from Gabriel: on the rarest of occasions, a table might be necessary, does our wysiwyg have a table element? I understand that there are responsive concerns about using tables, but we can flesh out those details later

___

I didn't see a table option in the wysiwyg editor, is it possible to add?

[2017-10-13 04:34] davekellam commented on #18
The dropdowns will pass parameters to the search string. This will work for the databases, but we need to know the names and id numbers of the relevant databases. The keyword/title/etc modifier is slightly more problematic. To make those searches, you seem to have to wrap the queries in a two-letter code syntax. That said, we should be able to do this with javascript. I was thinking this might not

[2017-10-13 13:17] kpettinga commented on #11
@Jessdwilson @davekellam I've got the graphics wired up now. The only thing we now need is to get a reference from the client for which call numbers belong to which rooms.

[2017-10-13 13:19] kpettinga commented on #38
@Jessdwilson they should install this plugin: https://wordpress.org/plugins/mce-table-buttons/

[2017-10-13 13:25] kpettinga commented on #21
@Jessdwilson

Can we see an example?

Accordions should be written as follows:

[accordion title="My Title"]

content...

[/accordion]

[accordion title="My title"]

content...

[/accordion]

- opening and closing [accordion ]shortcode tags should always be on their own line
- When adding more than one, make sure to start on a new line for each.

[2017-10-13 15:37] davekellam commented on #18
Added databases to dropdown in commit dd44a231, but tagged the wrong issue. I've added in what seem to be the main search databases on WorldCat. Should be working now.

[2017-10-13 20:56] davekellam commented on #18
Both dropdowns should be functioning now.

[2017-10-13 21:05] davekellam commented on #18
I'm going to close this out, the component is integrated. Any further refinements to the visual presentation or query results can have their own new issue.

[2017-10-13 21:05] #18 closed

[2017-10-13 21:05] #16 closed

[2017-10-13 21:10] davekellam commented on #38
Plugin is installed and now active

[2017-10-13 21:10] #38 closed

[2017-10-13 21:12] #29 closed

[2017-10-13 21:13] davekellam commented on #32
Both widgets are implemented. If we want further refinement visually, the issue can be reopened or a new one created.

[2017-10-13 21:13] #32 closed

[2017-10-16 13:54] kpettinga commented on #9
@davekellam i've got a static front-end setup here. Once we get some rooms imported you can take a look and start wiring it up.

[2017-10-16 19:59] Jessdwilson commented on #37
Dave Bolinger requested:  One very important addition that we would like in the custom block dropdown is for a **single feature item box**, which could be either right or left justified, together with text on whichever side the feature picture is not on.

[2017-10-17 13:58] kpettinga commented on #37
@Jessdwilson This is all set. I've added a "single feature item" content block type which they can choose the layout for: image right or image left.

I'm going to close this issue because I think we've pretty much fleshed out what they need so far. If something is broken or needs to change, please make a new issue.

[2017-10-17 13:58] #37 closed

[2017-10-17 13:59] kpettinga commented on #21
Closing this issue out as they seem to be well on their way with Accordions. If new issues arise, please make a new issue.

[2017-10-17 13:59] #21 closed

[2017-10-17 14:00] kpettinga commented on #25
Closing this issue as this component is being used by the client without problems (yet). If something breaks or needs to change regarding promos, please make a new issue.

[2017-10-17 14:00] #25 closed

[2017-10-17 14:01] #31 closed

[2017-10-17 14:01] #36 closed

[2017-10-17 14:02] #33 closed

[2017-10-19 18:56] kpettinga opened #39 "Search box visual presentation tweaks"
**Visual Presentation Ideas:**

- [x] Making a clear distinction between WMS search and the live search pre-results
- [x] Indicating WMS search with a “call to action” font and/or background color
- [x] Possibly segmenting search results into categories with labels
- ❓  Including a description of what the librarian can offer to the user. Ie. “Contact this librarian for research consultation, refer

[2017-10-19 19:55] kpettinga opened #40 "Implement Search box behaviors"
- [x] Worldcat search should go out to worldcat site
- [x] Order results by post type. Order => Guides, Databases, Librarians, Pages, FAQ
- [ ] ~~~Librarian result should provide CTA to book appointment~~~
- [x] LibGuide result should link out to 3rd party site
- [x] FAQ result should link out to 3rd party site
- [x] Any internal page returned in results would just go to that page

[2017-10-19 20:47] davekellam commented on #40
For the librarian result, should we link to an internal librarian page or have an inline ajaxy popup with librarian profile and the scheduler widget?

[2017-10-19 20:50] davekellam commented on #40
The `[scheduler]` widget might force the result to a separate page. The shortcode creates a button that invokes a libcal inline popup. So, it might be jarring to have an inline result with a popup on top of it.

[2017-10-24 19:32] davekellam commented on #9
It's alive! There's still a thing with the end-time to sort out (it's hardcoded at the moment), but initial wiring together is a success.

![screen shot 2017-10-24 at 3 28 04 pm](https://user-images.githubusercontent.com/60804/31963847-156ca6f6-b8d0-11e7-8786-6ffd90893215.png)

Then there's still a need for some functions related to bookings and available hours. Not sure if those should be a new i

[2017-10-30 17:16] Jessdwilson commented on #11
From Gabriel:

Here are the highlighted call number spaces and ranges each of these areas correspond to a range
<img width="1041" alt="subjects and call number ranges 2x" src="https://user-images.githubusercontent.com/1680051/32184920-32f4a900-bd74-11e7-8b8e-e619fae9e4ba.png">

Here is the data that powers our digital wayfinding. We list out the corresponding call number ranges and sections. Look

[2017-10-30 17:17] Jessdwilson opened #41 "URL links display"
Dave B. had mentioned that URL links aren't appearing as links, can these display in a different color or be underlined?

[2017-11-01 12:30] Jessdwilson opened #42 "PDF link shortcode"
something Dave B. brought up in our call was the option for a PDF form icon to display when a PDF link is available, we discussed creating a shortcode

[2017-11-01 12:44] kpettinga commented on #27
should create a custom block type for this.

[2017-11-01 14:50] #17 closed

[2017-11-01 14:50] #20 closed

[2017-11-01 14:51] #1 closed

[2017-11-01 19:50] davekellam opened #43 "FAQ: create post type and import"

[2017-11-02 04:40] #34 closed

[2017-11-02 04:41] #23 closed

[2017-11-02 06:17] davekellam commented on #43
FAQs can be imported. Currently CCL appears to have none available for import via the API (i.e. not published), but it worked fine testing against a different school's id.

[2017-11-02 06:17] #43 closed

[2017-11-02 06:29] davekellam commented on #42
I thought this could be a little more utilitarian. I've added in an icon shortcode that accepts a type, `[icon type="pdf"]Link[/icon]`. It will need some css + icon.

[2017-11-02 08:31] kpettinga commented on #28
Re-opening this until we get a sign off from client.

[2017-11-02 08:35] kpettinga opened #44 "Need Styling/Behavior for sub-menu items in dynamic menus"

[2017-11-02 10:30] kpettinga commented on #41
I've added an underline for accessibility purposes. The hover state will highlight to the school's color.

[2017-11-02 14:00] kpettinga commented on #27
This is all set. An example can be seen on the home page of libraryweb.wpengine.com

@davekellam, Dave B mentioned wanting a link to schedule an appointment with a librarian. I know we already setup a shortcode for the scheduling widget. Is it possible to activate that widget when we click the "Make an appointment..." link on these staff profile blocks?

![image](https://user-images.githubusercont

[2017-11-02 14:37] kpettinga commented on #40
@davekellam everything except internal pages should link out to their respective resource (worldcat, libcal, database url, whatever)

[2017-11-02 14:39] kpettinga commented on #40
I think for librarians, because of the fact that the scheduler needs to append scripts and a button, we should just link out to that person's profile page. We can explain to Dave B and Gabriel why that's the best option.

[2017-11-02 14:52] davekellam commented on #27
`echo do_shortcode( '[scheduler]' );` should work (and you can use the various parameters)

[2017-11-02 15:34] kpettinga commented on #9
Setup the room reservation template on the staging site but it seems the ajax requests are all failing. Schedules for each day aren't populating. @davekellam any ideas?

http://libraryweb.wpengine.com/meeting-and-presentation-spaces/

[2017-11-02 16:11] davekellam commented on #9
Seems the `check_ajax_referer` nonces are problematic on the production server. I'm assuming it's something to do with caching. I'm not 💯 that they're needed in this instance (or just in admin), but will investigate further.

[2017-11-03 04:55] davekellam commented on #40
I was thinking, there's not really much point in creating a librarian page with the sole purpose of allowing the scheduler scripts to appear... mostly because our current behaviour of linking to the profile page has a button with the same popup. So, I would say leave it as is for now, linking out to the 3rd party site.

[2017-11-03 05:36] davekellam commented on #9
So, the nonce check is only failing for logged in users. That's a small subset. Ok for now, but would be helpful to track down why it's happening.

[2017-11-03 07:13] #26 closed

[2017-11-03 07:13] #27 closed

[2017-11-03 07:13] #28 closed

[2017-11-03 07:13] #35 closed

[2017-11-03 07:13] #41 closed

[2017-11-03 07:13] #42 closed

[2017-11-03 07:15] #40 closed

[2017-11-03 11:07] kpettinga commented on #39
@gabrielo-cuc re:

This kind of information is not available in the set of data that gets imported. Where do you suggest we draw it from? Should it maybe just be a list of the librarian's subjects? Alternatively we could create a custom field for you to populate this information yourself but that might be a bit time consuming.

[2017-11-03 13:17] kpettinga commented on #9
Since we have a basic working system in place here, and other issues are beginning to pop up, I'm spinning this out into separate issues.

See #45, and #46

[2017-11-03 13:18] kpettinga opened #45 "Rooms: nonce check failing for logged in users on production site"

[2017-11-03 13:26] kpettinga opened #46 "Rooms: UI enhancements"
- [x] time slot times should display west coast time, not the local time. (input values are fine, just a matter of presentation).
- [x] Ability to make another booking after a submission
- [x] show schedule for rooms from open to close. many rooms are open past midnight which is technically the following day. when requesting a availability for a certain day, slots for 12am-1am the following day do

[2017-11-03 13:46] kpettinga opened #47 "Footer: ability to add custom content"
Need 2 custom fields (wysiwyg) for footer columns

![image](https://user-images.githubusercontent.com/1746410/32376639-a5e64520-c0a5-11e7-804e-9901e55c640f.png)

[2017-11-03 14:10] davekellam commented on #46
I added the multiday booking check in f07c88fb. Right now, it's set to span the first day and day after, but could be modified to grab the whole week's bookings.

See `get_space_item()` and the line `$date->modify( '+1 day' );`. For the whole week, that can be change to 6 days, or commented out to continue receiving the current day.

[2017-11-03 14:12] davekellam commented on #47
Should we use the WordPress widget system for this?

[2017-11-03 15:12] kpettinga commented on #47
@davekellam yeah that might work. we'll need to be able to create icons though. I know we have the shortcode. will that work in the widget system?

[2017-11-03 16:09] gabriel-ortiz commented on #39
@kpettinga
This is a good point, thanks Kirk. So a couple of ideas. If the API has the associated subjects for librarians, can we pull that data in for the description? If the API doesn't return this data, then I'm thinking we could have a boilerplate statement for each librarian that is served up from the searchbox. This would be a fine solution as long as we have the ability to edit that stateme

[2017-11-03 22:46] gabriel-ortiz commented on #40
Can we slightly modify the order of post types to be Guides, Librarians, Pages, FAQ, Databases?

[2017-11-06 10:34] kpettinga commented on #40
Should be all set @gabrielo-cuc

[2017-11-06 10:40] kpettinga opened #48 "Create custom field for default librarian statement"
**RE: Live search items**:
Include a description of what the librarian can offer to the user. Ie. “Contact this librarian for research consultation, reference, instructions, etc etc”

Implementation direction from @gabrielo-cuc :

We should create a text custom field where they can enter default text for librarians that have no subjects associated with them.

[2017-11-06 10:41] kpettinga commented on #39
Spinning off into a new issue here. See #48

[2017-11-06 10:41] #39 closed

[2017-11-07 13:34] kpettinga commented on #45
@davekellam I think you might have fixed this with the conditional that checks if the user is logged in?

If so, can you close?

[2017-11-07 13:43] kpettinga commented on #9
See http://libraryweb.wpengine.com/meeting-and-presentation-spaces/ to try out the room reservation system.

[2017-11-07 16:22] davekellam commented on #45
I don't think the conditional check did anything, when you try to pull up the room booking modal while logged in, no reservations slots appear because it's getting a 403 response from admin-ajax (unless it's only happening to me).

It may involve contacting WPE support and seeing if they've run into this problem before. It definitely works fine in both logged in and non-logged in states locally. I

[2017-11-07 20:12] davekellam commented on #45
I've tried a few other things, but no real success. At this point, we can't do too much more. This works for me locally and on our testing server, in both logged in and logged out states (including non-admin accounts). It is failing on WPE, likely due to caching/configuration. We don't have access to WPE dashboard (for support and logs) and/or the SFTP info (for logs), so we can't take any action

[2017-11-07 22:08] davekellam commented on #48
Easy enough to add in a custom field. One question I have is, where should the boilerplate statement live? I don't think it makes sense on the integrations settings page, or the import options page. I could create a Staff (Librarians) Options page, nested under the Staff menu. I could also create more of a generic settings page under the Settings menu, or piggyback on one of the existing Settings

[2017-11-07 22:53] davekellam commented on #48
Actually, probably worth asking @kpettinga and @gabrielo-cuc are you guys having issues with 403 errors when you're logged into the production site and try to load a room's bookings?

[2017-11-07 23:13] gabriel-ortiz commented on #48
@kpettinga @davekellam Yea it looks like the room reservation data isn't loading inside the dialog box. I do see the same 403 error to the `admin-ajax.php` URL when logged as admin.. but it seems to work fine on the frontend without logging in...

[2017-11-07 23:40] gabriel-ortiz commented on #48
Also @kpettinga and @davekellam Yea it might be advantageous to have an options page for Staff. I'm sure there will be more options created in the future. Regarding the placement of that page -- i really don't have a preference. I think it would naturally fit to have it grouped with the associated Staff CPT. But I feel like it's a 50/50 split.

[2017-11-07 23:49] davekellam commented on #48
Ok. I can make a Staff Options page under the Staff cpt. Just before I do that, you were implying that you wanted a GUI option? Or is that something you're happy to have as a string of text in the theme code?

[2017-11-07 23:52] davekellam commented on #45
@gabrielo-cuc ^^

[2017-11-07 23:56] davekellam commented on #48
@gabrielo-cuc ^^ (and oops re: the 403 question, I meant to ask that in #45 about the room reservations. Thanks though!)

[2017-11-08 17:06] gabriel-ortiz commented on #48
@davekellam eh while I'm happy to set that value in the theme codebase, but it would probably be easier for everyone if it is an GUI. Plus we might end up adding more options in the future. Thanks man!

[2017-11-09 17:06] davekellam commented on #48
I've added in a statement field to the post type, as well as a settings page with a default message and a notice if that isn't set. Use the helper function `get_librarian_statement( $id )` to return the statement as needed.

[2017-11-09 17:07] #48 closed

[2017-11-09 20:47] davekellam commented on #47
I've added in an options page under Settings > Footer, that allows for two content columns. Those will pass the `the_content` filter to display, so html and shortcodes can be used.

It might be a bit clunky, but works for now without getting into creating very specific content entry fields (twitter, instagram, address, etc).

[2017-11-09 20:47] #47 closed

[2017-11-09 21:10] #9 closed

[2017-11-13 12:32] kpettinga opened #49 "Hero visual tweaks"
- [x] Center position hero images
- [x] reduce height of hero spaces
- [x] move title to top of hero space
- [x] reverse scrim

[2017-11-13 12:33] kpettinga opened #50 "Hero Content: add jump links"
need ability to add jump links to content blocks on the page

[2017-11-13 12:38] kpettinga opened #51 "Select boxes: check cross-browser styling"
particularly Firefox and IE, Edge.

[2017-11-13 12:38] kpettinga opened #52 "Search box UI tweaks"
- [x] re-add search icon
- [x] if unfocus search box, hide search results

[2017-11-13 12:52] kpettinga opened #53 "Add [button] shortcode"
`[button url="" size="" style=""]text[/button]`

**Should have the following attributes**:

Attribute | Description/Choices/Default
---|---
url | web address (required)
size | "small" / default: ""
style | "solid" / default: ""

**Markup examples**:

_default_
`<a href="$url" class="ccl-b-btn">Button text</a>`

_size="small"_
`<a href="$url" class="ccl-b-btn ccl-is-small">Button text</a>`

_style=

[2017-11-13 12:56] kpettinga opened #54 "Shortcode for LibWizard forms"
@gabrielo-cuc mentioned we could build these in a similar way to the [scheduler] shortcode. In the case of a LibWizard form shortcode, it was mentioned in our last call that a form ID could be provided as an attribute and that could be plugged into a script.

Follow up with @gabrielo-cuc via the #ccl_dev channel to get more information.

[2017-11-14 13:56] kpettinga opened #55 "Notification Area should populate from 3rd party library API"
Can talk to @gabrielo-cuc about where to find the resources for this

![image](https://user-images.githubusercontent.com/1746410/32783425-f5e712da-c94b-11e7-871f-bac8e0797f88.png)

[2017-11-14 15:09] gabriel-ortiz commented on #55
@kpettinga @davekellam  Hey yall, I 'll share some resources for this on Slack. This part is pretty easy

[2017-11-15 12:47] #44 closed

[2017-11-15 12:48] kpettinga opened #56 "Sticky Nav"

[2017-11-16 08:34] kpettinga opened #57 "IE Bugs"
- [x] Quick Nav item contents flowing outside their containers
- [x] Paging dots on feature carousels are ovals, should be circles
- [x] large gap between image and text in Related section. See http://libraryweb.wpengine.com/hours/. It's a flexbox issue.

[2017-11-16 08:41] kpettinga opened #58 "Librarian Archive Template"
Should be a sortable list by Name and Subject. Default to Subject sorting.

[2017-11-17 14:13] #51 closed

[2017-11-20 11:18] kpettinga commented on #58
@gabrielo-cuc I'm running into an issue creating an archive for Librarians. On the old site, each librarian only has one subject associated with him/her (http://libraries.claremont.edu/contact/directories/librarians.asp). With the data that we've imported from LibGuides, however, some librarians have **more than 10** subjects assigned to them.

So the question is, when a librarian has more than 1

[2017-11-20 18:16] gabriel-ortiz commented on #58
@kpettinga Let's display all the subjects for each librarian. It's important in our efforts to ensure that users recognize the ubiquitousness of our librarians. So it's vital for us to list all the various ways librarians can offer support. It's possible that some subjects listed are not pertinent, and we can remove some.

How are the librarians currently organized on the archive page? Is there a

[2017-11-21 09:07] kpettinga commented on #58
@gabrielo-cuc check out the latest work on the librarian template at http://libraryweb.wpengine.com/librarians/

I've set the default to display by subject as well as added an accordion which lists all subjects that can be clicked to auto-scroll directly to that subject/librarian.

Because many librarians have multiple subjects associated with them, some librarians appear more than once.

In addit

[2017-11-21 17:16] davekellam commented on #53
`[button]` shortcode is now implemented with url, size and style attributes.

[2017-11-21 17:16] #53 closed

[2017-11-22 08:04] kpettinga commented on #55
From Gabriel:

---

### Calendar events

Here are some calendar resources to get started. For upcoming events. We are using a master calendar called "Love your library" You can easily target this calendar with the API. It's an Enpointv1.0, so no access token needed. Calendar ID is `1889`  and it needs the user ID also `333`. Here's a simple snippet that I use with Guzzle, that you can easily conve

[2017-11-22 11:01] #57 closed

[2017-11-22 20:12] davekellam commented on #54
Added `[libwizard_form id=""]` shortcode. Should display the embed for the given form id (available in the form edit url).

[2017-11-22 20:12] #54 closed

[2017-11-22 20:18] gabriel-ortiz commented on #58
@kpettinga This is looking solid - It covers all the methods that users might use to filter through librarians. Nicely done man.

- When listing librarians by subject, is it possible to only show them once with their respected subjects? I know this is still being refined - so sorry if I'm mentioning something you already had in queue.

- The librarians by name is on-point though!

- Per staff role

[2017-11-27 15:06] kpettinga commented on #58
hey @gabrielo-cuc

This is the logic problem I was trying to bring up initially. If a librarian has more than 1 subject associated with them, and you only want librarians to show up once, what subject do they get listed in?

There's a taxonomy for staff roles now that can be used to categorize everyone. The librarian archive template is set to gather people with the "librarian" term.

I think we m

[2017-11-27 22:51] davekellam commented on #55
I've taken a first pass at implementing these things:

* _hours_ - should be populating dynamically, currently have a transient set to update every 3 hours
* _events_ - currently pulling in the first event from the API results, transient set to update every 15 minutes
* _notices_ - added a helper function that pulls a random notice out of some dummy data, how should this get populated (dynamically

[2017-11-28 00:10] gabriel-ortiz commented on #58
@kpettinga What about listing the librarians alphabetically, and also offering a big list of subjects that act as achortags that link to the corresponding library profile? This addresses the issuing of librarians repeating multiple times when listed by subject. It also kinda simplifies the UI too.

[2017-11-28 00:13] gabriel-ortiz commented on #55
@davekellam Lemme run this by Dave B and hear his thoughts, especially about the notices. I think we are heading the right way though. I'd like to explore more about what use-cases we might employ. Also - potential UI enhancement for the hours - would it be possible to do a hide/show for all the library hours - and also add a hyperlink to the "Hours" page somewhere near the current hours?

[2017-11-28 10:48] kpettinga commented on #58
@gabrielo-cuc that could work BUT there are a few subjects where there is more than 1 librarian, which would mean creating the same ID for two librarian profiles on a page, which is a big accessibility "no-no".

[2017-11-28 17:54] gabriel-ortiz commented on #58
@kpettinga Valid Point. We have a committee meeting today and lemme kick it up to them and we'll discuss our options. I will get back to you by EOD. Thanks man

[2017-11-29 17:26] davekellam commented on #45
Update here: it's not specific to WPE, it's definitely happening locally for me (although sometimes it works after I've previously been logged out). I'm going to reach out to some people and see if they've got any ideas.

[2017-12-01 06:59] davekellam commented on #45
Think I had some old testing code in when I wrote that comment. Everything seems to be fine again locally for both logged-in and logged-out uses. So back to thinking it's a WPE issue of some sort. Probably time to get in touch with support there and see if they've encountered the problem before.

[2017-12-01 21:12] gabriel-ortiz commented on #58
@kpettinga by bad for not getting back on this sooner - So our team chatted about this and would like all of us to consider the following recommendation: can we have 2 layouts -1) with librarians organized by name; the way we have it now - and 2) a layout by ssubject in a table format, ie  http://www.library.ucla.edu/support/research-help/contact-subject-librarian . A table layout in this case wil

[2017-12-06 16:59] Jessdwilson opened #59 "Search dropdown: overlap"
In Chrome I noticed when searching for something that the items overlap with the content below

<img width="1228" alt="screen shot 2017-12-06 at 11 37 45 am" src="https://user-images.githubusercontent.com/1680051/33674241-e8f0cc82-da7c-11e7-8db2-515ee4177c71.png">

[2017-12-07 13:51] kpettinga commented on #58
@gabrielo-cuc I've created a a table view for the subject list. Let us know if this works.

[2017-12-11 15:45] kpettinga commented on #59
this should be fixed

[2017-12-11 15:45] #59 closed

[2017-12-14 20:58] Jessdwilson opened #60 "Search Box block type"
Will need the ability to add a search box (not live search) to the main content area of special collections page, and potentially other pages.

[2017-12-14 21:00] Jessdwilson commented on #49
client would like to a minimum width for hero images, perhaps 300 pixels?

[2017-12-14 21:03] Jessdwilson opened #61 "gap: hero image and first module"
remove gap that appears between the hero image and the first content module on pages, e.g. http://libraryweb.wpengine.com/collections/

[2017-12-14 21:12] Jessdwilson opened #62 "homepage: quick links"
Would like ability to add quick links on the homepage per the visual design mockup

<img width="1069" alt="screen shot 2017-12-14 at 4 04 14 pm" src="https://user-images.githubusercontent.com/1680051/34014461-2df35864-e0e9-11e7-8ec3-6e927581a35b.png">

[2017-12-14 21:19] Jessdwilson opened #63 "Events block type"
Would like ability to add Events carousel to homepage per visual design

<img width="822" alt="screen shot 2017-12-14 at 4 13 46 pm" src="https://user-images.githubusercontent.com/1680051/34014600-cd6efa42-e0e9-11e7-9414-e6507b46193e.png">

[2017-12-14 21:32] Jessdwilson opened #64 "Hyperlink for promo-scroll item"
surround images in promo scroll with a call-to-action link

[2017-12-14 21:35] Jessdwilson opened #65 "Footer: school logo band"
CCL to confirm url links for each logo and provide updated logo for Claremont University Consortium

<img width="884" alt="screen shot 2017-12-14 at 4 20 50 pm" src="https://user-images.githubusercontent.com/1680051/34015466-837d0188-e0ec-11e7-9e54-b6c511699f8a.png">

[2017-12-14 21:38] Jessdwilson opened #66 "Styling for links for jump-to nav"
Hard to distinguish links apart - style so links are separate

[2017-12-15 08:39] kpettinga commented on #49
@Jessdwilson this had to do with images in feature carousels, not heroes.

[2017-12-15 08:39] #49 closed

[2017-12-15 12:53] #56 closed

[2017-12-15 12:53] #58 closed

[2017-12-15 12:54] #52 closed

[2017-12-15 12:54] #50 closed

[2017-12-15 12:54] kpettinga commented on #62
same as previous issue: #50

[2017-12-15 12:55] #46 closed

[2017-12-15 14:06] #61 closed

[2017-12-15 14:07] kpettinga commented on #66
@Jessdwilson can you ask Travis how he might approach this?

[2017-12-18 12:31] kpettinga commented on #64
Added a new field to attachments which can be used to provide a URL. If one is present, it will get added in the promo carousel.

@davekellam I want to make this field editable in the media modal window. I know how to get it to be visible there but I can't figure out how to get it to save when you edit the value (the same way the other fields autosave, with an ajax call I think).
Any knowledge on

[2017-12-18 14:35] kpettinga commented on #60
I added a search box block type. @davekellam in light of talking about scoped search boxes, we should provide them options to apply scope to a search box (to only search collections, for instance). I'll let you implement additional options fields for that on the search box block type.

[2017-12-18 14:59] kpettinga commented on #63
@davekellam I have the block type and markup in place here. Can you populate the events array with real data?

[2017-12-20 19:30] #55 closed

[2017-12-20 21:58] gabriel-ortiz commented on #66
@kpettinga @Jessdwilson Love it - thanks

[2017-12-20 22:09] gabriel-ortiz commented on #65
@kpettinga right on! we are loving it.

But now for something political - the logos have to be in a certain order so that some people will be happy. The order is based on founding date, which is correct in the screenshot above. It might be different in the theme?

[2017-12-20 22:23] gabriel-ortiz commented on #62
@kpettinga @Jessdwilson Thanks this looks solid

- will the URL's work if it's a link to something external to the website?

[2017-12-22 17:58] Jessdwilson commented on #65
@davekellam could you help rearrange the logos in the footer so they match the screenshot above?

[2017-12-22 18:02] #66 closed

[2018-01-05 16:13] Jessdwilson commented on #62
@gabrielo-cuc  yes, you can also include links to pages external to the website

[2018-01-05 22:48] #65 closed

[2018-01-08 00:05] davekellam commented on #60
Adding a [supplemental search engine](https://searchwp.com/docs/kb/supplemental-search-step-by-step/) is slightly more involved (required search/results templates), so we can't really add anything to the block until we know the name(s) of any additional SearchWP engines.

[2018-01-08 04:33] davekellam commented on #63
Should work now. That said, there are currently no events listed.

@kpettinga There's a date line in the code that can be uncommented, which should pull in old events. You might want to take a look, at the moment we don't seem to be guaranteed a specific image size there.

[2018-01-09 08:24] kpettinga commented on #60
@davekellam I'm a little confused. Would do we need (and from who) to move forward?

[2018-01-09 08:43] kpettinga commented on #63
Made a few adjustments. Should be all set now.

[2018-01-09 15:09] davekellam commented on #60
We have the search box block in place. I think we either need a SearchWP supplemental search engine if want to search specific results within the site. It might just be that we need a different list of parameters for the "IN" dropdown, which allows for specific results on the WorldCat search. @gabrielo-cuc can you provide us with _exactly_ what you want appearing there?

[2018-01-09 17:39] gabriel-ortiz commented on #60
Hi @davekellam, so with regards to scoping to the website's search. Yes I think the vision is to have the website as one of the options in the "IN" location section. I imagine this might change the way you are are doing things, since the search URL is mostly constructed with WorldCat in mind. How difficult would it be to alter the search URL if a user wants to search the website? It would probably

[2018-01-09 18:40] davekellam commented on #60
@gabrielo-cuc think I've had all sorts of wires crossed up, I have a tendency to over-complicate things.

So, we've added in a search box block, which should allow you to put a search box anywhere with or without the local live results. It is possible to do scoped searches for local search results by adding "supplemental search engines" to the SearchWP plugin. Adding one involves some template add

[2018-01-09 21:41] gabriel-ortiz commented on #60
@davekellam Ah I'm on board now..  So basically, we are talking about whether to make a custom searchbox specific to Special Collections, or reuse the searchbox block that we currently have.... Ideally, I think special collections would like to have a search box dedicated exclusively to them. Maybe we can modify the searchbox to give us the ability to select only one search location. Or maybe a sh

[2018-01-09 22:37] davekellam commented on #60
I don't think anything is particularly involved (beyond supplemental search templates), really we just need to know what you want. A custom search box is cool.

* _What sort of box should it be? Does it search WorldCat or something on the site?_
* If it's world cat, do you have an example or a setting on the current search box (i.e. the same live search box without the live search and a dropdown p

[2018-01-10 00:10] gabriel-ortiz commented on #60
Right on @davekellam. So I have some answers for you. But I'll only be able to speak from my experience as a librarian. In other words, I hope that everyone will be happy, but 99% of what I will suggest is not controversial at all:

- This search box ideally should have the same look-and-feel as the custom block searchbox. Initially, this searchbox will search WorldCat for holdings specifically in

[2018-01-17 23:17] Jessdwilson opened #67 "Link styling"
From client:

The WSYWIG content blocks do not apply any styling to links. We need that to be consistent with the link styling across the site. Also, when the default school selection is chosen, the link styling defaults to black, and the links effectively disappear into regular text (which is also black).

[2018-01-17 23:21] Jessdwilson opened #68 "School selection is not sticking"
From client:

If you select your school from the dropdown it goes away as soon as you go to a different page. We want that to stick.

[2018-01-17 23:26] Jessdwilson opened #69 "Flyout menu"
From client:

On the homepage, the flyout menus (when you click on a IA menu item) go to the right. On all other pages, the flyout is below the main menu instead of to the right – this in effect cuts off the bottom of the flyout menu, as you cannot scroll the menu. We would like all of the flyout menus to go the right, like they do on the homepage.

[2018-01-19 18:37] gabrielo-cuc opened #70 "Searchbox submit Worldcat Search on Enter"
From testing with users, they are expecting `enter` to trigger a search in the catalog.

Also, I think we would like to add a description where we list out all the content types being searched by the search box. This was a point that surfaced during testing.

[2018-01-19 18:45] gabrielo-cuc opened #71 "dropdown to list all hours of library locations"
Directors have requested that hours for all library locations be listed out on the homepage. Additionally - we should also include the hours info on the top sticky menu bar.

[2018-01-20 09:18] kpettinga opened #72 "Archive for databases"

[2018-01-20 16:54] kpettinga commented on #72
@gabrielo-cuc you can see this working at https://libraryweb.wpengine.com/database-directory/

Note: Right now you don't have any subjects assigned to databases so clicking those links wont show you any databases.

[2018-01-22 04:20] gabriel-ortiz commented on #72
Nice work @kpettinga  it's looking  Sharp. So is there a way to assign subjects to databases on import? Or else, would subjects be assigned manually? I'll have to verify that subjects have been assigned in spring share too. Thank you!

[2018-01-22 10:35] kpettinga commented on #72
@gabrielo-cuc right now it doesnt appear that any kind of subject is available in the raw data for each database. So they'll need to be assigned manually. If there's a way for you to assign subjects in spring share, then we can probably have subject be auto-assigned to databases on import. But right now there's no data for that kind of thing.

[2018-01-22 17:49] gabriel-ortiz commented on #72
@kpettinga Oh i see now -- ok so it looks like we can expand the API route to include subjects  by appending `expand=subjects` to the API request. But then the next step would be to assign the subject to the existing taxonomy.

[2018-01-23 09:56] kpettinga commented on #72
hey @gabrielo-cuc thanks for that. I added `expand=subjects` to the API request and put in some logic to assign subject terms to databases. If you re-run the import for databases they should get assigned their respective subjects.

Feel free to close this out unless you have anything else.

[2018-01-23 19:57] gabriel-ortiz commented on #72
@kpettinga "Databases by Title" doesn't seem to be working, is it working on your end? I've re-runned the import and published all databases, and when I click on specific letters, there are no databases returned. And there are definitely some within that alphabetical group.  For example there should be a few databases in http://libraryweb.wpengine.com/databases/?begins_with=B Could this be a cachi

[2018-01-24 17:12] #71 closed

[2018-01-24 17:12] #70 closed

[2018-01-26 19:48] davekellam commented on #68
This is a cookie issue that we discussed in #35. Basically, we should be able to read the school from a logged in person's cookie and set the colours automatically. But we can't do that until the everything is under the same domain. So, if the demo site is using something like beta.claremont.edu should be able to read the cookie from the claremont.edu authentication server.

The dropdown is there

[2018-01-26 19:49] davekellam commented on #68
<del>So the question is, do we make the dropdown "work" or do we wait until everything is on the same domain?</del>

[2018-01-29 01:21] gabriel-ortiz commented on #69
@kpettinga hey this is looking really good - thanks so much

[2018-01-29 01:24] gabriel-ortiz commented on #67
@kpettinga Thanks so much man - makes a huge difference.

[2018-01-29 01:53] gabrielo-cuc opened #73 "add time and date to featured event in header"
Insert time and date information to appear for featured event in header.

[2018-01-29 01:55] gabrielo-cuc opened #74 "update logo with new TCCL logo"
New logo....ugh

[2018-01-29 04:37] davekellam opened #75 "Events: archive page"

[2018-01-29 22:34] davekellam commented on #75
Post type and importer have been created, similar to databases/guides. Should work with the default archive template. I've commented out the post type setup for now after discussion with @gabrielo-cuc. He's going to determine if they want to continue down this route or put it on the back-burner for now and use the current block implementation or a similar function to parse the feed directly.

[2018-02-14 17:45] #74 closed

[2018-02-14 17:45] #73 closed

[2018-02-23 20:09] Jessdwilson opened #76 "mobile refinements"
from the client:
Mobile view – many container problems with text not resizing properly, overlapping, etc.

##

I've attached a few screenshots of issues I noticed, I'll follow up with the client to see if there are additional areas of concern.

![cclmobile1](https://user-images.githubusercontent.com/1680051/36613622-13548e1e-18a8-11e8-9f3c-19a12c2db6fd.PNG)
![img_6122](https://user-images.githubus

[2018-02-23 20:22] Jessdwilson opened #77 "Menu structure for Special Collections homepage"

[2018-02-23 20:23] Jessdwilson opened #78 "News post type"
allowing us to import news items and display them

[2018-02-28 17:54] kpettinga opened #79 "Archive for Staff"

[2018-03-12 09:46] kpettinga commented on #79
@gabrielo-cuc There is now a page template call Staff Archive which can be used to create a page for all non-librarian staff.

[2018-03-12 10:38] kpettinga opened #80 "Ability for Staff Blocks to add more than 1 person"

[2018-03-12 10:39] kpettinga commented on #80
@gabrielo-cuc you can now add more than 1 person to the Staff blocks

[2018-03-12 11:23] kpettinga opened #81 "Make an appointment with a librarian module"
From @gabrielo-cuc

---

@gabrielo-cuc thanks for clarifying here. Basically it sounds like you want to "deep link" directly to setting up an appointment with a specific librarian, rather than making a user drill down through the various groups in order to find who they're looking for.

I took a harder look at the scheduler widget and we can definitely do this by specifying the `uid` parameter in

[2018-03-12 11:52] kpettinga commented on #11
@gabrielo-cuc From what I can tell in your spreadsheet, the `ID` column corresponds to the individual rooms on each floor. But there's no way for me to tell what room each number corresponds to in the graphic. Can you provide me with some kind of annotation?

[2018-03-12 17:44] gabriel-ortiz commented on #81
Oh boy i see what you mean.. So I had to do some research too, and I contacted SpringShare support for some clarification.. Here's what I got back:

No, there is not a location that would show you who has MyScheduler enabled in LibCal that also has an account in LibGuides site. You would need to get the user ID's that LibCal uses and the ID's for LibGuides separately.
There are APIs for accounts i

[2018-03-12 18:03] gabriel-ortiz commented on #79
Right on @kpettinga  looks solid so far! Thank you so much for doing this. There are a couple refinements I'd like to make... do you mind if I take it from here?

- [x] I'm seeing students mixed in there. So I think I'll add a staff taxonomy, and we can target the staff taxonomy

- [x] I'd like to get the title of each staff member - I'll work on setting that up

- [x] I'd also like to include at

[2018-03-13 15:21] gabriel-ortiz commented on #11
@kpettinga for sure I'll work on that today Thanks so much

[2018-03-13 15:44] Jessdwilson commented on #77
From @gabrielo-cuc

[2018-03-13 16:06] Jessdwilson commented on #78
from @gabrielo-cuc

[2018-03-13 17:01] Jessdwilson commented on #76
from @gabrielo-cuc

[2018-03-13 18:29] gabriel-ortiz commented on #11
@kpettinga Hey man, here's an annotated version of our call # locations... I know I have 3rd grader handwriting.. sorry about that haha. LMK id you need anything else!

[copiers@cuc.claremont.edu_20180313_124933.pdf](https://github.com/ObjectiveSubject/ccl/files/1808183/copiers.cuc.claremont.edu_20180313_124933.pdf)

[2018-03-14 12:45] kpettinga commented on #11
Thanks @gabrielo-cuc I've updated the items in call-numbers.json with a new property `room_int` (room integer). This number corresponds to the ID of a particular `<path>` element in each floor SVG. You should be able to punch in a call number and have the correct room be highlighted now.

[2018-03-14 12:49] kpettinga commented on #11
@gabrielo-cuc one thing that I wasn't sure how to account for in the JSON were the "Folios". Is the word "folio" part of the call number? To test it out I looked for some music items on worldcat but all the call numbers still just started with "M" followed by a series of numbers.

What do call numbers look like for items that qualify as a "folio"?

[2018-03-14 13:09] kpettinga commented on #81
@gabrielo-cuc thanks for digging into that. I understand what we need to do. I've reached out to @davekellam to see what the best way would be to bring that myScheduler user data in.

[2018-03-14 13:10] kpettinga commented on #79
@gabrielo-cuc, yes, please feel free to take over

[2018-03-14 13:42] kpettinga commented on #76
@gabrielo-cuc I think I've made a pass at getting things straightened up on mobile screens. Obviously the site is huge so we may have missed something. If you spot something off, please let us know.

[2018-03-14 20:22] gabrielo-cuc opened #82 "Modifications to search.js"
Hey @davekellam and @kpettinga So I wanted to let yall know that we'll probably need to make some significant modifications to `search.js`. We've recently received instructions to add additional search locations to the list of options, including the library's website and the Online Archive of California. Since these URLs are not WMS URLs, I'll need to change how the URL is constructed. I don't thi

[2018-03-16 16:46] gabriel-ortiz commented on #76
Hey @kpettinga Thanks for all the refinements you've made it looks so good! Hey when you get a minute can take a look at the promo scroll overflow in mobile view.  here's a screenshot:
![screenshot_20180316-085733](https://user-images.githubusercontent.com/24301868/37533336-d13b9434-28fe-11e8-86c1-09b7d1f4fbf9.png)

Thanks so much!

[2018-03-19 16:28] gabrielo-cuc opened #83 "Relocating the quick nav search icon to user nav position"
Hey @kpettinga, @davekellam  @Jessdwilson

Hope yall are doing well. We've been noticing some interesting user behavior. Our users are interpreting the box to the left of the search icon as the input field for the search icon. Multiple users have told us that they are trying to click into that box to start typing. So interestingly they are interpreting that quick-nav container as the search box in

[2018-03-20 08:05] kpettinga commented on #83
@gabrielo-cuc I agree, moving that icon to the user nav menu would probably help to fix this situation. After moving it, we'll need to make sure everything still works okay across screen sizes as that whole header system of menus, search boxes, etc is pretty complex.

@gabrielo-cuc Is this something you want us to tackle or are you planning to address it?

[2018-03-20 23:07] gabrielo-cuc opened #84 "Flyout menu getting chopped off by window"
Hey @kpettinga  @Jessdwilson @davekellam ,

We are noticing that parts of our flyout menu in quick-nav are still being chopped by the browser window. This is mostly true for our "Research Support" section. Can we make the flyout here a scroll, or maybe we can make the flyout container to be 2/3rds or something like that?

[2018-03-21 05:35] gabriel-ortiz commented on #83
@kpettinga Yea I thought it might be complex...  If we move the search icon into the user-nav, then i imagine the user-nav would have to be sticky as well (that actually could be pretty cool). Would you mind taking a pass at that though?

 I'm still working on some `search.js` stuff, and next they have some refinements for the database directory page. Maybe if you pick this up, then I can take a l

[2018-03-21 17:28] #82 closed

[2018-03-23 15:40] Jessdwilson commented on #69
From Dave B.:

[2018-03-26 11:32] kpettinga commented on #78
@gabrielo-cuc I've built out a few things here.

- A "News" post type
- News Archive template ( template: archive-news.php )( url: `[site url]/news/` )
- New and Events content block type.
    - **Note**: Events must be imported into wordpress before they will be available to display.

[2018-03-26 11:34] #69 closed

[2018-03-26 11:34] #60 closed

[2018-03-26 11:34] #62 closed

[2018-03-26 11:34] #63 closed

[2018-03-26 11:34] #64 closed

[2018-03-26 11:34] #67 closed

[2018-03-26 11:34] #68 closed

[2018-03-26 11:34] #72 closed

[2018-03-26 11:36] #75 closed

[2018-03-26 11:37] #80 closed

[2018-03-27 09:15] kpettinga commented on #84
@gabrielo-cuc this should be fixed now. Please close if there's nothing further.

[2018-03-27 10:21] kpettinga commented on #77
Hey @gabrielo-cuc I've pushed some code which will allow you to isolate your special collections menu on specific pages. Here's how it works:

- There's now a new Display Location under Menu settings called "Special Collections". You'll want to create a new menu with your special collection items and assign it this location.
- When editing a page, you can now select an option in the sidebar to des

[2018-03-27 10:43] kpettinga commented on #76
Hey @gabrielo-cuc I think this issue is resolved. Will you confirm? If you're still seeing it, can you let me know what device and browser you're viewing it on?

[2018-03-27 11:40] kpettinga commented on #83
@gabrielo-cuc after getting some feedback from our designers, we felt that it was best to keep the search icon in the quick nav because it's supposed to be a prominent feature. We could, however, dissuade users from thinking this was a search box by adjusting the visual design slightly. From our design team:

Here is a preview of the updated design. The changes have been pushed to the master branc

[2018-04-04 19:27] gabriel-ortiz commented on #84
@kpettinga Amazing and elegant fix.... Thanks!

[2018-04-04 19:27] #84 closed

[2018-04-04 19:29] gabriel-ortiz commented on #83
@kpettinga This works. Now that we are into soft launch/UX testing, we will wait and see what feedback we get from users. But I do think it offers a noticeable improvement in disassociating these features. Thanks!

[2018-04-04 19:29] #79 closed

[2018-04-04 19:30] gabriel-ortiz commented on #78
@kpettinga @Jessdwilson This is perfect. Thanks so much

[2018-04-04 19:30] #78 closed

[2018-04-04 19:33] gabriel-ortiz commented on #76
@kpettinga right on! yea we got it fixed. I'm using an android, but i haven't heard anything new from IOS users

[2018-04-04 19:33] #76 closed

[2018-04-04 19:33] gabriel-ortiz commented on #77
@kpettinga this is pretty awesome! Thank you so much.

[2018-04-04 19:33] #77 closed

[2018-04-05 23:27] gabrielo-cuc opened #85 "504 Error for Room res display appointments"
Hay @kpettinga @davekellam ,

It looks like we're getting a 504 error with retrieving room reservation data from LibCal. I'm able to make a reservation, but it's not showing availability. Don't know why we are getting a Cross Origins error - since we are using an API Key. I check the keys and they are still active.  And i'm betting that all the other errors are related to this issue too. Do you kn

[2018-04-05 23:31] gabriel-ortiz commented on #85
NVM I see this is related to Another issue #45

Was I supposed to contact WPE? Maybe I was but I forgot.. sorry.... Everything works when I'm logged out of admin... I forgot about that..